button {
  cursor: pointer;
  background-color: $accent;
  padding: 7px 10px;
  border-radius: 4px;  
  border: none;
  outline: none;
  
  &:hover {
    background-color: lighten($accent, 20);
  }

  &:active {
    background-color: #000;
    color: #fff;
  }
}

// button {
//     background-color: $accent!important;
//     color: rgb(26, 25, 25);
//     border-radius: 4px;
//     padding: 5px;
// }