.post-view {
    main {        
        margin: 5px auto;
        background-color: #191b17;        
        padding: 20px;
        width: 100%;
        border-radius: 4px;
        color: #eee;       
    }
}