.items {
  display: flex;
  flex-flow: column;
  .item {
    width: 100%;

    transition: 0.2s;
    &.active {
      background-color: #fff;
      color: #000;
      padding-bottom: 30px;
      padding-top: 30px;
    }
    button {
      margin-left: 4px;
    }
  }
}